## 구매이력 데이터

In [1]:
import numpy as np
import pandas as pd
import datetime as datetime
import dataload

In [2]:
buy_full = dataload.load_buy()

In [4]:
buy_full.head()

       date sex  age big_cat sm_cat  qty
0  20180101   F   20      식품    가공란   37
1  20180101   F   30      식품    가공란   16
2  20180101   F   40      식품    가공란    9
3  20180101   F   50      식품    가공란    3
4  20180101   M   20      식품    가공란   13

In [21]:
buy_full['year'] = buy_full['date'].apply(lambda x :str(x)[:4])
buy_2018 = buy_full[buy_full.year=='2018'][['date', 'sex', 'age', 'big_cat', 'sm_cat', 'qty']]
buy_2019 = buy_full[buy_full.year=='2019'][['date', 'sex', 'age', 'big_cat', 'sm_cat', 'qty']]
buy_2018['date'] = buy_2018['date'].apply(lambda x : pd.to_datetime(str(x), format='%Y%m%d'))
buy_2019['date'] = buy_2019['date'].apply(lambda x : pd.to_datetime(str(x), format='%Y%m%d'))
buy_2018.shape, buy_2019.shape

((1005487, 6), (1051412, 6))

In [22]:
buy_2018["date"] = buy_2018["date"] + datetime.timedelta(days=-1)
buy_2018["date"] = buy_2018["date"].replace(datetime.date(2017,12,31), datetime.date(2018,12,31))

In [23]:
buy_2018_cat = buy_2018.groupby(['date', 'big_cat', 'sm_cat']).sum('qty').reset_index()[['date', 'big_cat', 'sm_cat', 'qty']]
buy_2019_cat = buy_2019.groupby(['date', 'big_cat', 'sm_cat']).sum('qty').reset_index()[['date', 'big_cat', 'sm_cat', 'qty']]
buy_2018_cat["date"] = buy_2018_cat["date"].apply(lambda x : str(x)[5:])
buy_2019_cat["date"] = buy_2019_cat["date"].apply(lambda x : str(x)[5:])
buy_2018_ts = pd.pivot_table(buy_2018_cat, index="sm_cat", columns="date", values="qty")
buy_2019_ts = pd.pivot_table(buy_2019_cat, index="sm_cat", columns="date", values="qty")
buy_2018_ts.shape, buy_2019_ts.shape

((383, 365), (383, 365))

In [24]:
buy_2018_ts.head()

date,01-01 00:00:00,01-02 00:00:00,01-03 00:00:00,01-04 00:00:00,01-05 00:00:00,01-06 00:00:00,01-07 00:00:00,01-08 00:00:00,01-09 00:00:00,01-10 00:00:00,...,12-22 00:00:00,12-23 00:00:00,12-24 00:00:00,12-25 00:00:00,12-26 00:00:00,12-27 00:00:00,12-28 00:00:00,12-29 00:00:00,12-30 00:00:00,12-31 00:00:00
sm_cat,,,,,,,,,,,,,,,,,,,,,
가공란,132.0,113.0,102.0,89.0,64.0,77.0,95.0,139.0,148.0,114.0,...,116.0,159.0,100.0,463.0,229.0,346.0,99.0,127.0,221.0,90.0
가스온수기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
가열식 가습기,23.0,12.0,15.0,18.0,11.0,17.0,15.0,16.0,16.0,15.0,...,11.0,15.0,15.0,21.0,14.0,32.0,15.0,23.0,16.0,7.0
가자미,16.0,17.0,12.0,24.0,7.0,21.0,56.0,20.0,22.0,22.0,...,19.0,12.0,16.0,26.0,20.0,53.0,18.0,20.0,33.0,21.0
갈비/찜/바비큐용 돈육,7.0,5.0,13.0,9.0,12.0,6.0,9.0,20.0,15.0,13.0,...,17.0,20.0,21.0,24.0,12.0,12.0,22.0,20.0,17.0,22.0

In [25]:
buy_2019_ts.head()

date,01-01 00:00:00,01-02 00:00:00,01-03 00:00:00,01-04 00:00:00,01-05 00:00:00,01-06 00:00:00,01-07 00:00:00,01-08 00:00:00,01-09 00:00:00,01-10 00:00:00,...,12-22 00:00:00,12-23 00:00:00,12-24 00:00:00,12-25 00:00:00,12-26 00:00:00,12-27 00:00:00,12-28 00:00:00,12-29 00:00:00,12-30 00:00:00,12-31 00:00:00
sm_cat,,,,,,,,,,,,,,,,,,,,,
가공란,262.0,288.0,215.0,167.0,231.0,251.0,330.0,329.0,352.0,257.0,...,123.0,205.0,182.0,170.0,281.0,178.0,129.0,149.0,186.0,212.0
가스온수기,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
가열식 가습기,26.0,27.0,27.0,20.0,12.0,17.0,18.0,21.0,27.0,15.0,...,27.0,29.0,19.0,10.0,20.0,19.0,14.0,7.0,18.0,15.0
가자미,22.0,35.0,28.0,42.0,24.0,26.0,30.0,36.0,53.0,63.0,...,29.0,28.0,15.0,34.0,24.0,39.0,49.0,27.0,29.0,57.0
갈비/찜/바비큐용 돈육,23.0,17.0,13.0,9.0,21.0,14.0,18.0,14.0,19.0,14.0,...,47.0,28.0,30.0,32.0,26.0,15.0,34.0,25.0,35.0,37.0

In [26]:
buy_2018_ts = buy_2018_ts.fillna(0)
buy_2019_ts = buy_2019_ts.fillna(0)

In [27]:
buy_ts = (buy_2018_ts + buy_2019_ts)/2
buy_ts.shape

(383, 365)

In [29]:
buy_ts.head()

date,01-01 00:00:00,01-02 00:00:00,01-03 00:00:00,01-04 00:00:00,01-05 00:00:00,01-06 00:00:00,01-07 00:00:00,01-08 00:00:00,01-09 00:00:00,01-10 00:00:00,...,12-22 00:00:00,12-23 00:00:00,12-24 00:00:00,12-25 00:00:00,12-26 00:00:00,12-27 00:00:00,12-28 00:00:00,12-29 00:00:00,12-30 00:00:00,12-31 00:00:00
sm_cat,,,,,,,,,,,,,,,,,,,,,
가공란,197.0,200.5,158.5,128.0,147.5,164.0,212.5,234.0,250.0,185.5,...,119.5,182.0,141.0,316.5,255.0,262.0,114.0,138.0,203.5,151.0
가스온수기,0.0,0.5,0.0,0.0,0.0,0.0,0.5,0.0,0.5,0.5,...,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0
가열식 가습기,24.5,19.5,21.0,19.0,11.5,17.0,16.5,18.5,21.5,15.0,...,19.0,22.0,17.0,15.5,17.0,25.5,14.5,15.0,17.0,11.0
가자미,19.0,26.0,20.0,33.0,15.5,23.5,43.0,28.0,37.5,42.5,...,24.0,20.0,15.5,30.0,22.0,46.0,33.5,23.5,31.0,39.0
갈비/찜/바비큐용 돈육,15.0,11.0,13.0,9.0,16.5,10.0,13.5,17.0,17.0,13.5,...,32.0,24.0,25.5,28.0,19.0,13.5,28.0,22.5,26.0,29.5