In [1]:
import numpy as np
import pandas as pd

In [11]:
# 온라인 구매 이력
# 날짜, 성별, 연령대, 큰 카테고리, 작은 카테고리, 구매량
buy2018_1 = pd.read_csv('../data/buy2018_1.csv', encoding='cp949')
buy2018_2 = pd.read_csv('../data/buy2018_2.csv', encoding='cp949') 
buy2019_1 = pd.read_csv('../data/buy2019_1.csv', encoding='cp949') 
buy2019_2 = pd.read_csv('../data/buy2019_2.csv', encoding='cp949')

buy2018_1 = buy2018_1.iloc[:,1:]
buy2018_2 = buy2018_2.iloc[:,1:]
buy2019_1 = buy2019_1.iloc[:,1:]
buy2019_2 = buy2019_2.iloc[:,1:]

buy2018_1.columns = ['data', 'sex', 'age', 'big_cat', 'sm_cat', 'qty']
buy2018_2.columns = ['data', 'sex', 'age', 'big_cat', 'sm_cat', 'qty']
buy2019_1.columns = ['data', 'sex', 'age', 'big_cat', 'sm_cat', 'qty']
buy2019_2.columns = ['data', 'sex', 'age', 'big_cat', 'sm_cat', 'qty']

In [8]:
buy2018_1.head()

,buy2018_1.date,buy2018_1.sex,buy2018_1.age,buy2018_1.big_cat,buy2018_1.sm_cat,buy2018_1.qty
0,20180101,F,20,식품,가공란,37
1,20180101,F,30,식품,가공란,16
2,20180101,F,40,식품,가공란,9
3,20180101,F,50,식품,가공란,3
4,20180101,M,20,식품,가공란,13

In [9]:
# 소셜 데이터 
# 날짜, 큰 카테고리, 작은 카테고리, 구매량
sns2018_1 = pd.read_csv('../data/sns2018_1.csv', encoding='cp949') 
sns2018_2 = pd.read_csv('../data/sns2018_2.csv', encoding='cp949') 
sns2019_1 = pd.read_csv('../data/sns2019_1.csv', encoding='cp949') 
sns2019_2 = pd.read_csv('../data/sns2019_2.csv', encoding='cp949')

sns2018_1 = sns2018_1.iloc[:,1:]
sns2018_2 = sns2018_2.iloc[:,1:]
sns2019_1 = sns2019_1.iloc[:,1:]
sns2019_2 = sns2019_2.iloc[:,1:]

sns2018_1.columns = ['data', 'big_cat', 'sm_cat', 'cnt']
sns2018_2.columns = ['data', 'big_cat', 'sm_cat', 'cnt']
sns2019_1.columns = ['data', 'big_cat', 'sm_cat', 'cnt']
sns2019_2.columns = ['data', 'big_cat', 'sm_cat', 'cnt']

In [10]:
sns2018_1.head()

   sns2018_1.date sns2018_1.big_cat sns2018_1.sm_cat  sns2018_1.cnt
0        20180101                뷰티     기능성 링클케어 화장품      12.154295
1        20180101                뷰티     기능성 모공관리 화장품      36.000828
2        20180101                뷰티     기능성 아이케어 화장품       0.895782
3        20180101                뷰티     기능성 영양보습 화장품      14.868175
4        20180101                뷰티    기능성 트러블케어 화장품      48.819391